form {
    display: flex;
    flex-direction: column;
    max-width: 75vw;
    max-height: 75vh;
    padding: 1rem;
    font-family: 'Karla', sans-serif;
    background-color: #FFF;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

fieldset {
    display: flex;
    flex-direction: column;
    padding: 1rem 5rem;
    gap: 1rem;
}

label {
    font-weight: bold;
    margin-bottom: -1rem;
    color: #495E57;
    font-size: 1rem;
}

input,
select {
    padding: 12px;
    font-size: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    font-family: 'Karla', sans-serif;
    background-color: #EDEFEF;
    color: #333333;
}

input:focus,
select:focus {
    border-color: #495E57;
    outline: none;
    box-shadow: 0 0 5px rgba(73, 94, 87, 0.5);
}

button {
    padding: 1rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #F4CE14;
    color: #333333;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #495E57;
    color: #FAFAFA;
    transform: translateY(-3px);
}

legend {
    font-size: 1.5rem;
    color: #495E57;
    text-align: center;
    font-family: 'Markazi Text', serif;
}

.invalid {
    border: 1px solid red;
}
