.BookingPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #EDEFEF;
    font-family: 'Karla';
    height: 75vh;
}

.BookingPage header {
    margin-bottom: 1rem;
}

.BookingPage h1 {
    font-size: 2.5rem;
}
