.Chicago {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3rem;
    background-color: #f4f4f4;
}

.Chicago-content {
    flex: 1;
    padding-right: 2rem;
}

.Chicago-content h2 {
    font-size: 2rem;
    color: #495E57;
    margin-bottom: 1rem;
}

.Chicago-content p {
    color: #666;
    line-height: 1.6;
    font-size: 1.2rem;
}

.Chicago-image img {
    width: 100%;
    border-radius: 0.5rem;
}
