.App-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #495E57;
    /* Cor principal do fundo */
    padding: 2rem 0;
}

.App-header img {
    width: 150px;
    border-radius: 50%;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    /* Sombra suave para destaque */
}
