.App-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    /* Alterar para branco */
    padding: 1rem 2rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    /* Adicionar sombra sutil */
}

.logo-link {
    display: flex;
    align-items: center;
}

.nav-logo {
    height: 50px;
    /* Diminuir o tamanho do logo */
}

.App-nav ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.App-nav a {
    color: #495E57;
    /* Cor do texto dos links */
    font-weight: bold;
    margin-left: 2rem;
}

.App-nav a:hover {
    text-decoration: underline;
    color: #EDEFEF;
}
