.Specials {
    padding: 3rem;
    background-color: #f8f8f8;
    text-align: center;
}

.Specials h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.Special-item {
    border: 1px solid #ddd;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra para destacar os cards */
}

.Special-item:hover {
    transform: translateY(-0.5rem);
    /* Elevação ao passar o mouse */
}

.Special-item img {
    width: 100%;
    /* Adicione uma imagem ao card */
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.Special-item h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 0.5rem;
}

.Special-item p {
    color: #666;
}

.Special-item button {
    background-color: #F4CE14;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
}

.Special-item button:hover {
    background-color: #d4b412;
}
