* {
  margin: 0;
  padding: 0;
}

.header-nav {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 10vh;
}

Header {
  display: flex;
  width: 25vw;
  justify-content: center;
  align-items: center;
  background-color: olive;
}

Nav {
  display: flex;
  width: 75vw;
  justify-content: center;
  align-items: center;
  background-color: chocolate;
}

Nav ul {
  display: flex;
  flex-direction: row;
  gap: 10vw;
  list-style: none;
}

Main {
  display: flex;
  width: 100vw;
  height: 65vh;
  background-color: goldenrod;
}

Footer {
  display: flex;
  width: 100vw;
  height: 25vh;
  background-color: dodgerblue;
}